@use './variables' as *;

@use './navbar' as *;

@use './components/blogs' as *;
@use './components/categories' as *;

@use './pages/home' as *;
@use './pages/single-blog' as *;

@media screen and (max-width: 1200px) {
    
    .categories {
        &__list {
            grid-template-columns: repeat(5,1fr);
        }
    }
    .blog {
        &__content {
            padding: 10px;
        }
    }
}

@media screen and (max-width:992px) {

    body {
        padding: 5px 5%;
    }
    .nav {
        width: 90%;
        left: 5%;
        padding: 0 30px;
    }
    .sidebar__padding {
        padding: 7.5px 15px;
    }
    .categories__title {
        font-size: 20px;
        padding: 0;
    }
   
}
@media screen and (max-width: 768px) {
    .container {
        position: relative;
    }
    .main-menu {
        width: 100%;
    }
    .sidebar {
        position: absolute;
        top: calc(100% + 5px);
        // bottom: 0;
        width: 100%;
    }

    .nav {
        padding: 0 20px;
        .burger_menu {
            display: flex;
        
        }
        .burger_menu_active {
            justify-content: center;
            span:nth-child(1) {
                transform: translateY(100%) rotate(45deg);
            }
            span:nth-child(3) {
                transform: translateY(-100%) rotate(-45deg);
            }
            span:nth-child(2) {
                width: 0;
                margin: 0 auto;
            }
        }
    }
    
    .nav__links {
        transform: translateY(calc(-100% - 15px));
        background-color:#fff;
        
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border:1px solid rgba(128, 128, 128, 0.693);
        top: 0;
        left: 0;
        transition: .4s;
        a {
                color: #000;
        }
    }
    .nav__links_active {
        transform: translateY($nav-height);
    }
    .nav__link {
        font-size: 1.3rem;
        font-weight: 500;
        padding: 10px;
        width: 90%;
        border-bottom: 1px solid rgba(128, 128, 128, 0.664);
        text-align: right;
    }

    .blog {
        flex-direction: column;
        height: auto;
        padding: 0;
        &__img {
            width: 100%;
            height: 250px;
        }
        &__content {
            width: 100%;
            padding: 15px 20px;
        }
    }
}

@media screen and (max-width:576px) {
    
}

@media screen and (max-width: 300px) {
}