@use '../variables' as *;
.categoryPage {
    width: 100%;
    min-height: 50vh;
    padding: $nav-height 30px;
    // background: url('/public/assets/category_page_background.jpg');
    background-size: cover;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {
        color: #fff;
        font-size: 70px;
        text-transform: uppercase;
    }
}