@use '../variables' as *;
.categoryPage {
    width: 100%;
    padding: 50px 20px;
    // background: url('/public/assets/category_page_background.jpg');
    background-size: cover;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {
        color: #fff;
        font-size: 50px;
        text-transform: uppercase;
    }
}